<div id="cart" style="max-height:500px;overflow-y:scroll;">
    <h3>Mon panier</h3>
    <div id="cart-items">
    </div>
    <div class="cart-checkout">
        <div class="cart-total">
            <h2>Total</h2>
            <p style="margin-top:30px">{{ cartTotal }}€</p>
        </div>
        <button style="width:100%" onclick="panier()" class="cta">Acceder au panier</button>
                <button style="width:100%" onclick="emptyCart()" class="cta">Vider le panier</button>
    </div>
</div>
