
    </div>
    <footer id="footer-container">
       <div id="foot-head">
  <div class="row">
      <div class="col-12 col-sm-1"></div>
      <div class="col-12 col-sm-2"><a href="collection-precieuse.html">Précieuse</a></div>
      <div class="col-12 col-sm-2"><a href="collection-impertinente.html">Impertinente</a></div>
      <div class="col-12 col-sm-2"><a href="collection-unique.html">Unique</a></div>
      <div class="col-12 col-sm-2"><a href="blog.html">Blog</a></div>
      <div class="col-12 col-sm-2"><a href="contact.html">Contact</a></div>
      <div class="col-12 col-sm-1"></div>
  </div>
</div>
<div class="divider-footer"></div>
<div id="foot-info">
  <div class="row">
      <div class="col-12 col-sm-4 order-2 order-sm-1"> 
          <div class="footer-section">
              <h2 class="white-title" style="text-transform: uppercase;">à propos</h2>
              <p>Création de bijoux 100% uniques et originaux faits à la main en France avec des pierres fines ou précieuses pour sublimer toutes les femmes</p>
          </div>
      </div>
      <div class="col-12 col-sm-4 order-1 order-sm-2">
          <div class="footer-section" style="display: flex;"> 
              <a href="index.html" style="margin: auto;">
                  <img src="/img/logoBlanc.png" class="logo">
              </a>
          </div>
      </div>
      <div class="col-12 col-sm-4 order-3 order-sm-3"> 
          <div class="footer-section row">

              <h2 class="white-title" style="text-transform: uppercase; margin-top: auto;">contact</h2>
              <div class="col-12"><a href=""><img src="/icon/ph_phone-light.svg" class="pe-2" >01 23 45 67 89</a></div>
              <div class="col-12"> <a href=""><img src="/icon/circum_mail.svg"  class="pe-2">contact@emmapierre.com</a></div>
              <div class="col-12"> <a href=""><img src="/icon/instagramfooter.svg" class="pe-2">@emmapierrejewels</a></div>
          
          </div>
      </div>
  </div>
</div>
<div id="legal">
<p>Tous droit réservé  - © Emma Pierre - 2023 </p>
<p>Mentions légales</p>
<p>Conditions générales de ventes</p>
</div>
    </footer>

    <script src="/js/main.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>
