<!DOCTYPE html>
<html>
<head>
    <title>Mon site</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar-style.css">
    <link rel="stylesheet" href="/css/caroussel-style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/tabs2-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>
<body>

<header id="header-container">
    <div id="block-1">
        <nav class="menu-left" id="head-cred" >
            <div class="switch">
                <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
                <label for="language-toggle"></label>
                <span class="on">FR</span>
                <span class="off">EN</span>
            </div>
        </nav>
        <div id="head-burger">
            <i class="fa-solid fa-bars" id="burger"></i>
        </div>  
        <div class="logo-container">
            <a href="/">
            <img src="/img/logoNoir.png" class="logo">
            </a>
        </div>
        <nav class="menu-right">

            <div class="icons-container">
                <div class="icon-container">
                    
                <img src="/icon/iconoir_search.svg">
                </div>

                <div class="icon-container">

                <a href="/login">    
                <img src="/icon/user.svg">
                </a>

                </div>

                <div class="icon-container">
                    
                <img style="cursor:pointer;" id="cart-btn" src="/icon/cart.svg">
                </div>
                
                {% include 'cart.twig' %}
            </div>
        </nav>
    </div>
<div id="block-2">
  <nav id="menu">
      <a href="a-propos.html" >A propos</a>
      <a href="javascript:void(0)" id="first-div">Nos Collections</a>
      <div id="block-3">
        <div class="items">
        <a class="imgheader" href="collection-precieuse.html"><div class="item-image precieuses"></div></a>
            <a class="item-link" href="product_list.html">Précieuses</a>
            <div class="item-sub-links">
                <a href="product_list.html">Bracelets</a>
                <a href="product_list.html">Colliers</a>
                <a href="product_list.html">Boucles d'oreilles</a>
                
            </div>
        </div>
        <div class="items">
        <a class="imgheader" href="collection-impertinente.html"><div class="item-image impertinentes"></div></a>
            
            <a class="item-link" href="product_list.html">Impertinentes</a>
            
            <div class="item-sub-links">
                <a href="product_list.html">Bracelets</a>
                <a href="product_list.html">Colliers</a>
                <a href="product_list.html">Boucles d'oreilles</a>
                
            </div>
        </div>
        <div class="items">
        <a class="imgheader" href="collection-unique.html"><div class="item-image unique"></div></a>
            <a class="item-link" href="product_list.html">Unique</a>
            <div class="item-sub-links">
                <a href="product_list.html">Bracelets</a>
                <a href="product_list.html">Colliers</a>
                <a href="product_list.html">Boucles d'oreilles</a>
                
            </div>
        </div>
        </div>
      <a href="blog.html">Blog</a>
      <a href="contact.html">Contact</a>
      <div class="switch" id="btnswitchln" style="display:none">
	    <input id="language-toggle2" class="check-toggle check-toggle-round-flat" type="checkbox">
	    <label for="language-toggle"></label>
	    <span class="on">FR</span>
	    <span class="off">EN</span>
  	</div>
  </nav>
</div>
</header>

 <div id="page-container">