{% include 'header.twig' %}

<h1>Hello Sciences-U</h1>

<form id="new-product-form">
    <label for="name">Product Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>
    <input type="submit" value="Submit">
</form>

<table id="products-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <!-- Products will be inserted here -->
    </tbody>
</table>

{% include 'footer.twig' %}

