{% include 'header.twig' %}

{% block content %}
 <div id="page-container" style="text-align: center">
  <h1>Connexion</h1>

  <form method="POST" action="/login">
    <div>
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
    <button type="submit">Se connecter</button>
    </div>
    <div>
  <a href="/register">Pas encore de compte ? Enregistrez-vous !</a>
  </div>
  </form>

{% if login_error is defined %}
    <p class="alert alert-danger">{{ login_error }}</p>
{% endif %}

{% endblock %}

{% include 'footer.twig' %}
