

<link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar-style.css">
    <link rel="stylesheet" href="/css/product-page.css">
    <link rel="stylesheet" href="/css/caroussel-style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/tabs-1-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% include 'header.twig' %}
<link rel="stylesheet" href="/css/product-list.css">

<button id="addCart" value="{{ product.product_id }}">Ajouter au panier</button>




{% include 'footer.twig' %}

<script src="/js/caroussel-script.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/product-count.js"></script>
    <script src = "/js/product-page.js"></script>