{% include 'header.twig' %}

{% block content %}
    <div id="page-container" class="my-5">
        <section>
        <p> Bonjour </p>
            <a href="/logout">Déconnexion</a>
        </section>
    {# </div> #}
{% endblock %}

{% block footer %}
{% include 'footer.twig' %}
{% endblock %}